.navbar-brand{
    background-color:#4aaaa5;
    display: block;
    height: 60px;
    width: 220px;
    text-align: center;
    margin-left: 168.5px;
}
a{
    color:#666666;
}

.navbar-nav{
    margin-right: 168.5px;
    
}
.navbar{
    height: 60px;
}
.container{
  background-color: #fff  
}


#container{
    background-color:#666666;
    margin-top: 170px; 
    border-top:7px solid #4aaaa5;

}
#dodi{
    margin-top: 30px;
}

 body{
     background-color:#ccc;
     margin-left: auto;
     margin-right: auto;
    
 }
.btn-facebook {
    background: #3B5998;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #263961; 
  }
  .btn-facebook:link, .btn-facebook:visited {
    color: #fff;
  }
  .btn-facebook:active, .btn-facebook:hover {
    background: #263961;
    color: #fff;
  }
 

form{
    height: 380px;
    
}
#button{
    background-color: #4aaaa5;
}
#keybordimg{
    height: 237px;
    width: 347px;
}
#machineimg{
    height:230px;
    width:347px;
}

/* media queries */
@media (min-width:0px) and (max-width: 640px) {
    p{
        font-size: 9px;
    }
}
@media(min-width:641px) and (max-width: 768px) {
    p{
        font-size:11px;
    }
}
@media(min-width:769px) and (max-width:980px){
    p{
        font-size:13px;
    }

}
@media(min-width:981px) and (max-width:1100px){
    p{
        font-size:15px;
    }
}